{% extends "chat/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="container-fluid d-flex align-items-center login" style="min-height: 100vh;">
        <form method="POST" class="w-75 mx-auto">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="w-100 text-center">
                <button type="submit" class="btn-success py-1 px-3" style="border: none">Register</button>
            </div>
            <div class="w-100 mt-2" style="text-align: right;">
                <a href="/login/" style="font-size: 18px;">You have an account?</a>
            </div>
        </form>
    </div>

{% endblock content %}